<a href="https://colab.research.google.com/github/scbadkas19/NLP/blob/master/SpaCy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import gzip
import spacy

In [2]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz" , lines=True)
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
nlp = spacy.load("en_core_web_sm")

In [0]:
def SPACY(str):
    tokenization = []
    lemmatization = []
    pos_tags = []
    dependency_parser = []
    nouns = []
    doc = nlp(str)
    for word in doc:
        tokenization.append(word.text)
        lemmatization.append(word.lemma_)
        pos_tags.append(word.pos_)
        dependency_parser.append(word.dep_)
        if 'nn' in word.tag_.lower():
            nouns.append(word.text)
    return {'text': tokenization, 'lemma_': lemmatization, 'tag_': pos_tags, 'dependency parser': dependency_parser, 'nouns': nouns, 'noun_count': len(nouns)}

In [5]:
df['reviewtext_spacy'] = df.iloc[0:20]['reviewText'].apply(SPACY)
df.head()

       reviewerID  ...                                   reviewtext_spacy
0  A32T2H8150OJLU  ...  {'text': ['I', 'bought', 'my', 'first', 'HP12C...
1  A3MAFS04ZABRGO  ...  {'text': ['WHY', 'THIS', 'BELATED', 'REVIEW', ...
2  A1F1A0QQP2XVH5  ...  {'text': ['I', 'have', 'an', 'HP', '48GX', 'th...
3   A49R5DBXXQDE5  ...  {'text': ['I', ''ve', 'started', 'doing', 'mor...
4  A2XRMQA6PJ5ZJ8  ...  {'text': ['For', 'simple', 'calculations', 'an...

[5 rows x 10 columns]