<a href="https://colab.research.google.com/github/scbadkas19/NLP/blob/master/FunctionTransformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import FunctionTransformer

In [0]:
a = np.array([12,15,84,25,40])

In [0]:
def minmax(x):
  min = np.min(x)
  max = np.max(x)
  res = (x-min)/(max-min)
  return res

In [5]:
transformer = FunctionTransformer(minmax)
transformer.transform(a)

array([0.        , 0.04166667, 1.        , 0.18055556, 0.38888889])

In [6]:
transformer.inverse_transform(a)

array([12, 15, 84, 25, 40])

In [7]:
data = [[7,5],[7,3],[0,1]]
df = pd.DataFrame(data,columns = ['A','B'])
df

   A  B
0  7  5
1  7  3
2  0  1

In [8]:
x=transformer.transform(df)
x

     A    B
0  1.0  1.0
1  1.0  0.5
2  0.0  0.0

In [9]:
y=transformer.inverse_transform(df)
y

   A  B
0  7  5
1  7  3
2  0  1